doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Hello World

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article.deck
      section
        h2 Tugas Projek 
        h2 Teknik Kolaborasi Pengembangan Perangkat Lunak
        ul
          li Nama Anggota :
          li M.Alimuda Sakti Nst   NIM : 161110358
          li Nurul Hasanah Siregar NIM : 161110340
          li Fais Muzain           NIM : 161111914
          li Devika Ayusuwari      NIM : 161112367


      section
        h2 Wilayah Indonesia
        img(src="images/wisataindo.jpg")
        ul
          li Indonesia adalah negara kepulauan di Asia Tenggara 
          li yang memiliki 17.504 pulau besar dan kecil
          li Sumatra dengan luas 473.606 km²

      section
        h2 Kota Sabang
        img(src="images/sabang.jpg")
        ul 
          li Terletak di Provinsi Aceh 
          p  Kota Sabang adalah salah satu kota di Aceh, Indonesia. Kota ini berupa kepulauan di seberang utara pulau Sumatra, dengan Pulau Weh sebagai pulau terbesar. Kota Sabang merupakan zona ekonomi bebas Indonesia, ia sering disebut sebagai titik paling utara Indonesia, tepatnya di Pulau Rondo 


     
        
    script(src='build/build.js')
