doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Hello World

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article.deck
    ul id="menu"
      li<a href="#">GUNUNG SINABUNG</a>
        ul
          li<a href="#">Lokasi</a>
          li<a href="#">Transportasi</a>
          li<a href="#">Penginapan</a>
          li<a href="#">Kuliner</a>
       
      li<a href="#">PANTAI PUTIH SIBOLGA</a>
         ul
          li<a href="#">Lokasi</a>
          li<a href="#">Transportasi</a>
          li<a href="#">Penginapan</a>
          li<a href="#">Kuliner</a>
      
      li<a href="#">PANTAI CERMIN </a>
         ul
          li<a href="#">Lokasi</a>
          li<a href="#">Transportasi</a>
          li<a href="#">Penginapan</a>
          li<a href="#">Kuliner</a>
        
      li<a href="#">PEMANDAIN BARBAR SARI</a>
         ul
          li<a href="#">Lokasi</a>
          li<a href="#">Transportasi</a>
          li<a href="#">Penginapan</a>
          li<a href="#">Kuliner</a>
      
      section
        h2 Tugas Projek 
        h2 Teknik Kolaborasi Pengembangan Perangkat Lunak
        ul
          li Nama Anggota :
          li M.Alimuda Sakti Nst, Nim : 161110358
          li Nurul Hasanah Siregar, Nim : 161110340
          li Fais Muzain, Nim : 161111914
          li Devika Ayusuwari, Nim : 161112367


      section
        h2 Wisata Indonesia
        img(src="images/wisataindo.jpg")
        ul
          li Indonesia adalah negara kepulauan di Asia Tenggara 
          li yang memiliki 17.504 pulau besar dan kecil
          li Sumatra dengan luas 473.606 km²

      section
        h2 Kota Sabang
        img(src="images/sabang.jpg")
        ul 
          li Terletak di Provinsi Aceh  


      section
        h2 Transportasi
        ul
          li Medan - Banda Aceh durasi perjalanan sekitar 13 jam
          li dengan tiket bus sekitar Rp.200.000-400.000

      section
        h2 Hotel
        h1 Mata Ie Resort
        img(src="images/hotel.jpg")
        ul
          li Hotel ini terletak di Anoi Itam, Kecamatan Sukajaya, Sabang 
          li Menyediakan fasilitas seperti kolam renang, ruang karaoke, ruang meeting, restaurant & café, dan cottage.

      section
        h2 Kuliner
        h1 Sate Gurita Sabang
        img(src="images/sategurita.gif")
        ul 
          li Berkunjung ke Sabang, kita bisa menemukan sate Gurita. 
          li Tekstur dari kuliner khas Kota Sabang ini kenyal dan umumnya disajikan dengan sambal bumbu padang atau sambal kacang yang bisa Toppers pilih sesuai selera.
          li Biasanya satu porsi kuliner Sabang ini dihargai Rp10.000
          

      section
        h2 Wisata
        h1 Pantai Iboih
        img(src="images/pantai.jpg")
        ul
          li Pantai yang satu ini bisa dibilang pantai yang jadi ikon Kota Sabang.
          li Lokasinya hanya 30 menit dari pusat kota Sabang

      section
        h2 Syntax Highlighting
        h3 Powered by <a href="https://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/PrismJS/prism">Prism</a>
        pre
          code.language-javascript.
            (function() {
              function hanoi(n, a, b, c) {
                return n ? hanoi(n - 1, a, c, b)
                    .concat([[a, b]])
                    .concat(hanoi(n - 1, c, b, a)) : [];
              }
              return hanoi(3, 'left', 'right', 'mid')
                .map(function(d) {
                  return d[0] + ' -&gt; ' + d[1];
                });
            })();

      section(data-bespoke-hash='named-route')
        h2 Named Route
        h3 Powered by <a href="https://github.com/bespokejs/bespoke-hash">bespoke-hash</a>
        p Look up! This route has been named with a <em>data-bespoke-hash</em> attribute.
      section
        h2.bullet Just the beginning…
        ul.build.build-items
          li Edit <a href="https://pugjs.org">Pug (formerly Jade)</a> markup in <em class="path">src/index.pug</em>
          li Edit <a href="http://stylus-lang.com">Stylus</a> styles in <em class="path">src/styles/user.styl</em>
          li Edit JavaScript in <em class="path">src/scripts/main.js</em>
        br
        ul.build
          li
            strong Enjoy! :)
            a(href='https://twitter.com/markdalgleish')  -@markdalgleish

    script(src='build/build.js')
